html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  justify-content: space-between;
  background-color: #e7e7e5;
  flex-direction: row;
  flex-wrap: wrap;
}
* {
  /*  outline: 1px solid red; */
}
.aboutMe {
  min-width: fit-content;
}
.container {
  padding: 30px;
  max-width: 30%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.1;
}

.big {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: max(5.208333333333333vw, 30px);
  padding: 0;
  margin: 0;
  color: black;
}
.textlogo,
.titlelogo {
  font-family: "Open Sans", sans-serif;
  min-width: fit-content;
  font-size: 12pt;
  padding: 0;
  margin: 0;
  color: black;
}
.textlogo {
  font-weight: 300;
}

.titlelogo {
  font-weight: 400;
}
.light {
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  font-weight: 400;

  padding: 0;
  margin: 0;

  color: black;
}
.aboutMe {
  padding-top: 100;
}
.logo {
  max-width: fit-content;
  height: min-content;
}
#editorial {
  left: 1.6276041666666667vw;
  top: calc(42%);
  font-size: max(1.953125vw, 24px);
}
#webdesign {
  left: calc(50% + 25px);
  top: calc(42%);
  font-size: max(1.953125vw, 24px);
}
#fotografia {
  left: 1.6276041666666667vw;
  top: 92%;
  font-size: max(1.953125vw, 24px);
}
#video {
  left: calc(50% + 25px);
  top: 92%;
  font-size: max(1.953125vw, 24px);
}

#canvas {
  outline: 2px solid black;
  position: relative;
}
@media screen and (min-width: 500px) {
  body {
    display: flex;
  }
}

@media screen and (max-width: 812px) {
  #editorial {
    left: 1.6276041666666667vw;
    top: calc(42%);
    font-size: max(1.953125vw, 24px);
  }
  #webdesign {
    left: calc(50% + 1.6276041666666667vw);
    top: calc(42%);
    font-size: max(1.953125vw, 24px);
  }
  #fotografia {
    left: 1.6276041666666667vw;
    top: 92%;
    font-size: max(1.953125vw, 24px);
  }
  #video {
    left: calc(50% + 1.6276041666666667vw);
    top: 92%;
    font-size: max(1.953125vw, 24px);
  }
}
