.nav {
  display: flex;

  justify-content: space-between;
}

a {
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  justify-content: space-between;
  background-color: #e7e7e5;
  flex-direction: row;
  flex-wrap: wrap;
}
#canvas {
  cursor: none;
}

.arrow {
  margin-left: max(5px, 0.6510416666666666vw);
  position: relative;
  max-height: 0.7em;
  /* padding-bottom: 0.5208333333333334vw; */
  padding-bottom: 8px;
}
.arrow2 {
  margin-left: max(5px, 0.6510416666666666vw);
  position: relative;
  max-height: 0.7em;
}
#center {
  cursor: pointer;
}
.aboutme {
  min-width: fit-content;
  margin-top: 50px;
}
#overlay {
  position: absolute;
  display: none;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: #e7e7e5;
  width: calc(100% - 61px);
  height: calc(100% - 61px);
  flex-direction: column;
  justify-content: space-between;
}
#overlayinside {
  position: relative;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  padding: 30px;

  flex-grow: 1;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  line-height: 1.1;
}

.big {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: max(5.208333333333333vw, 30px);
  padding: 0;
  color: black;
  margin-bottom: 15px;
}

.biggy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: max(7.208333333333333vw, 30px);
  padding: 0;
  margin: 0;
  color: black;
}

.textlogo,
.titlelogo {
  font-family: "Open Sans", sans-serif;
  min-width: fit-content;
  font-size: 12pt;
  padding: 0;
  margin: 0;
  color: black;
}
.textlogo {
  font-weight: 300;
}

.titlelogo {
  font-weight: 400;
}
.light {
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;

  font-weight: 400;

  padding: 0;
  margin: 0;

  color: black;
}

.logo {
  max-width: fit-content;
  height: min-content;
}
#jorge {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 33.528645833333336vw;
  z-index: -1;
}
#aboutme {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link * {
  max-width: fit-content;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 20px;
  padding-bottom: 20px;
}
#textcontainer1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 50%;
  font-size: max(1.953125vw, 24px);
}
#textcontainer2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 50%;
  width: 50%;
  height: 50%;
  font-size: max(1.953125vw, 24px);
}
#textcontainer3 {
  position: absolute;
  display: flex;
  margin-top: 50%;
  width: 50%;
  height: 50%;
  font-size: max(1.953125vw, 24px);
}
#textcontainer4 {
  position: absolute;
  display: flex;
  margin-top: 50%;
  margin-left: 50%;
  width: 50%;
  height: 50%;
  font-size: max(1.953125vw, 24px);
}
.social {
  position: absolute;
  left: 0;
  bottom: 0;
}
#allsummer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  left: 1.6276041666666667vw;
  top: calc(42%);
  font-size: max(1.953125vw, 24px);
}
#arrowbottom {
  margin-bottom: 8px;
  margin-left: max(5px, 0.6510416666666666vw);
  max-height: 0.7em;
}
#editorial {
  position: absolute;
  display: flex;
  flex-direction: row;
  line-height: 1;
  align-items: flex-end;
  left: 1.6276041666666667vw;
  top: calc(42%);
  font-size: max(1.953125vw, 24px);
}

#webdesign {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: calc(50% + 25px);
  top: calc(42%);
  font-size: max(1.953125vw, 24px);
}
#cartaz {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  left: 1.6276041666666667vw;
  top: 92%;
  line-height: 1.2em;
  font-size: max(1.953125vw, 24px);
}
#fotografia {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 1.6276041666666667vw;
  top: 92%;
  font-size: max(1.953125vw, 24px);
}
#video {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: calc(50% + 25px);
  top: 92%;
  font-size: max(1.953125vw, 24px);
}

#canvas {
  outline: 2px solid black;
  position: relative;
}

@media screen and (min-width: 1170px) {
  html,
  body {
    overflow: hidden;
  }
  .container {
    max-width: 50%;
  }
  #textaboutme {
    max-width: 300px;
  }
  p {
    max-width: 28vw;
  }
}
@media screen and (max-width: 1170px) {
  .container {
    max-width: 100vh;
  }
  .aboutme {
    margin-top: 0;
  }
  #textaboutme {
    max-width: 56vh;
  }
}

@media screen and (min-width: 812px) and (max-width: 1170px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
  }
}

@media screen and (max-width: 812px) {
  .arrow {
    padding-bottom: 6px;
  }
  #textcontainer1 {
    font-size: max(1.953125vw, 18px);
  }
  #textcontainer2 {
    font-size: max(1.953125vw, 18px);
  }
  #textcontainer3 {
    font-size: max(1.953125vw, 18px);
  }
  #textcontainer4 {
    font-size: max(1.953125vw, 18px);
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  :not(.container) {
    justify-content: space-between;
  }
  .container {
    min-width: 90%;
    max-height: fit-content;
  }
  #canvas {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .container {
    display: block;
  }
  .container {
    min-width: 85%;
    min-height: 40vh;
  }
  .biggy {
    font-size: 50pt;
  }
  #jorge {
    max-height: 77.528645833333336vw;
  }
  #canvas {
    position: absolute;
    bottom: 0;
  }
  #overlay {
    height: calc(100vh - 60px);
  }
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  .biggy {
    font-size: 50pt;
  }
  #jorge {
    max-height: 80vw;
  }
  #overlay {
    height: calc(100vh - 58px);
    width: calc(100vw - 58px);
  }
}
